<style type="text/css">
    /* specific to selet2 box*/
   .select2-container--default .select2-search--inline .select2-search__field{
    font-size: 14px;
   }
   .select2-container--default .select2-selection--multiple{
    /*height: 34px;*/
   }
   .select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top: 1px;
   }
  </style>
  <script type="text/javascript">
    $(".customeSelect").select2({
      placeholder: "Select one or more subjects",
      selectOnBlur: true
    });
    $(".customeSelect1").select2({
      placeholder: "Select grade level",
      minimumResultsForSearch: Infinity

    })
    $(".customeSelect2").select2({
      placeholder: "Select availability",
    })
  </script>
  <!-- Main -->
  <section id="main" class="wrapper">
    <div class="container">
      <header class="major">
        <h2>Tutor Registration</h2>
        <p>Register to tutor students for volunteer hours</p>
      </header>
      <hr>
      <form class="form-class">
        <div class="alert alert-danger" ng-if="showError">
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            &nbsp;&nbsp;Registration failed, Please try again.
        </div>
        <div class="alert alert-warning" ng-if="showEmptyError">
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          &nbsp;&nbsp;Please complete all required fields.
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-form-label">First Name</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
            <input class="form-control" type="text" ng-model="tutorRegistationDetails.firstname" id="example-text-input" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-search-input" class="col-form-label">Last Name</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
            <input class="form-control" ng-model="tutorRegistationDetails.lastname" type="text" id="example-search-input">
          </div>
        </div>
        <div class="form-group row">
          <p ng-if="showError" class="errorClass">Email already exists!</p>
          <label for="example-email-input" class="col-form-label">Email</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
            <input class="form-control" ng-model="tutorRegistationDetails.email" type="email" id="example-email-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-password-input" class="col-form-label">Password</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
            <input class="form-control" ng-model="tutorRegistationDetails.password" type="password" id="example-password-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-password-input" class="col-form-label">Confirm Password</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
            <input class="form-control" type="password" id="example-password-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-password-input" class="col-form-label">Grade (Select One)</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
           <select class="customeSelect1" ng-model="tutorRegistationDetails.grade">
                <!-- <option value=" " selected></option> -->
                <option>Freshmen</option>
                <option>Sophmore</option>
                <option>Junior</option>
                <option>Senior</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-password-input" class="col-form-label">Subjects</label>&nbsp;&nbsp;<strong>*</strong><br>
          <div class="col-xs-10">
           <select class="customeSelect form-control" ng-model="tutorRegistationDetails.subjects" multiple="multiple">
              <option>Non-calculus integrated Physics</option>
              <option>Calculus integrated physics</option>                    
              <option>English: Elementry School</option>
              <option>English: Middle School</option>
              <option>English: Underclassmen</option>
              <option>English: Upperclassmen</option>
              <option>Biology: Honors and Standard</option>
              <option>AP Biology</option>
              <option>Chemistry: Honors and Standard</option>
              <option>AP Chemistry</option>
              <option>Pre-Highschool Mathamatics</option>
              <option>Algebra</option>
              <option>Geometry</option>
              <option>Algebra II</option>
              <option>Pre-Calculus</option>
              <option>Macro-Economics</option>
              <option>Micro-Economics</option>
              <option>Spanish</option>
              <option>French</option>
              <option>Latin</option>
              <option>Computer Science</option>
              <option>AP Computer Science</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <p>Please choose your availability, you may select multiple dates</p>
          <div class="col-xs-10">
            <div class="dropup">
                <a  class="dropdown-toggle dropup" id="dropdown1" role="top" data-toggle="dropdown" data-target="#"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker data-ng-model="selectedDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',modelType:'Date' }"/>
                </ul>
            </div>
            Selected Date: <p ng-repeat="availableDate in tutorRegistationDetails.availability">{{ availableDate.available |date:'medium'}} <button type="button" class="close" ng-click="removeSelectedDate($index)">&times;</button><br></p>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10 col-md-4" style="display:flex;">
            <button type="reset" class="btn btn-primary" style="margin-right:30px">Clear</button>
            <button type="button" ng-click="submitRegistration()" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
    </div>
  </section>