<div>
  <!-- Upcomming schedules -->
  <div class="row" ng-if="schedules.length>0">
    <label class="label-tutors">Schedules: </label>
    <table class="table table-stripped table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>Time</th>
          <th>Tutor</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Rate your last session</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="schedule in schedules">
          <td>{{schedule.scheduledTime |date:'medium' }}</td>
          <td>{{schedule._bookedTutor.firstName}} {{schedule._bookedTutor.lastName}}</td>
          <td>{{schedule._bookedTutor.email}}</td>
          <td>{{schedule.bookedFor}}</td>
          <td>
            <a data-toggle="modal" ng-click="toBeConfirmed(schedule)" data-target="#confirmModal">Rate your last session</a>
          </td>
        </tr>
      </tbody>    
    </table>
  </div>
  <!-- Add Review modal -->
    <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">How do you like it?</h4>
        </div>
        <div class="modal-body">
          <div>
              <div ng-if="emptyFields" class="alert alert-danger">
                Please provide rating and some description about last session.
              </div>
              <p>Confirm: <input type="checkbox" name="confirm" ng-model="confirm"></p>
              <p>Give rating to tutor:<span uib-rating ng-model="newRating.rating" max="5" read-only="false" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></span></p>
              <!-- <p><textarea ng-model="newRating.description" placeholder="review" style="width:100%;"></textarea></p> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" ng-click="confirmSchedule()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Review Modal -->
</div>